body {
  margin: 0;
  font-family: 'Inter';
  background: #0a0a0a;
  color: #ffffff;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 50px;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 25px;
  font-style: Italic;
}

/* SECTION */
.section {
  padding: 80px 20px;
  text-align: center;
}

.dark {
  background: #111;
}

/* IMAGE SECTION */
.image-section {
  gap: 20px;   /* ✅ control jarak */
  display: flex;
  align-items: center;
}

.image-section img {
  width: 50%;
}

@media (max-width: 768px) {

  .image-section .text {
    width: 100%;
    text-align: center;   /* ✅ FIX CENTER */
    padding: 20px;        /* ✅ FIX SPACING */
    display: flex;
  flex-direction: column;
  justify-content: center;
  }

}
.reverse {
  flex-direction: row-reverse;
}

/* FULL IMAGE */
.full-img {
  width: 100%;
  margin-top: 20px;
}

/* CTA */
.cta {
  padding: 80px;
  text-align: center;
  background: black;
}

/* BUTTON */
button {
  padding: 12px 25px;
  background: linear-gradient(45deg,#c9a96e,#e6c07b);
  border: none;
}

/* WA FLOAT */
.wa {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
}

/* MOBILE */
@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  .image-section {
    flex-direction: column;   /* ✅ biar rapi mobile */
    gap: 10px;                /* ✅ lebih rapat */

  .image-section img,
  .image-section .text {
    width: 100%;
  }

  .hero {
    height: 80vh;
  }
}